html
	head
		title #{title}
		script(src='javascripts/main.js')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		#content
			img(scr='images/logo.png')
			p WELCOME
			p #{message}
			#smile